/* WooCommerce general styling */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background-color: #0073aa;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
}

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: #005177;
}

.woocommerce a {
    color: #0073aa;
    text-decoration: none;
}

.woocommerce a:hover {
    color: #005177;
    text-decoration: underline;
}